@page
@model CareerConnector.Pages.AppFinishedModel
@{
}

<div class="container">
    <h1>Thank You!</h1>
    <p>Your application has been submitted successfully.</p>
    <a asp-page="/Index" class="btn btn-primary">Back To Listings</a>
</div>

