@page
@model CareerConnector.Pages.Applications.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Application.ApplicationId" />
            <div class="form-group">
                <label asp-for="Application.UserId" class="control-label"></label>
                <input asp-for="Application.UserId" class="form-control" />
                <span asp-validation-for="Application.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Company" class="control-label"></label>
                <input asp-for="Application.Company" class="form-control" />
                <span asp-validation-for="Application.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.FirstName" class="control-label"></label>
                <input asp-for="Application.FirstName" class="form-control" />
                <span asp-validation-for="Application.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.LastName" class="control-label"></label>
                <input asp-for="Application.LastName" class="form-control" />
                <span asp-validation-for="Application.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Email" class="control-label"></label>
                <input asp-for="Application.Email" class="form-control" />
                <span asp-validation-for="Application.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Skills" class="control-label"></label>
                <input asp-for="Application.Skills" class="form-control" />
                <span asp-validation-for="Application.Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Resume" class="control-label"></label>
                <input asp-for="Application.Resume" class="form-control" />
                <span asp-validation-for="Application.Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
